@page "/history"

<div class="app-container">
    <div class="title-logo">
        <img src="../assets/icon-no-bg.png" class="logo" alt="">
    </div>
    <div class="title-container">
        <h1 class="title">Cálculo de IMC</h1>
    </div>
    <div class="search-data-container">
        <input class="inputSearch" type="text" placeholder="Pesquisar..."/>
    </div>
    <div class="calculsList">
        <div class="firstItem">
            <div class="tumbnail-container">
                <div class="tumbnail"></div>
                <div class="rato">
                    <div class="titleDate">
                        <h4>Peso ideal ✅</h4>
                        <p class="dateFirstItem">8m atrás</p>
                    </div>
                    <p class="description">Parabéns, você está no seu peso ideal,<br>continue mantendo este estilo!</p>
                </div>
            </div>
        </div>
        <div class="secondItem">
            <div class="tumbnail-container">
                <div class="tumbnail"></div>
                <div class="titleDateDescription">
                    <div class="titleDate">
                        <h4>Sobrepeso ⛔️</h4>
                        <p class="dateSecondItem">12/10/2023</p>
                    </div>
                    <p class="description">Estamos quase lá! Faça alguns ajustes<br>para ficar no peso ideal!</p>
                </div>
            </div>
        </div>
    </div>
</div>